---
import Layout from '../layouts/Layout.astro'
import WidgetPanel from '../components/common/WidgetPanel.astro'

const teams = [
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
  {
    name: 'Nombre Equipo',
    points: '14',
    wins: '9',
    plays: '5',
  },
]
---

<Layout
  title=''
  description=''
>
  <main class='p-4'>
    <WidgetPanel title='Clasificación' extraClass=''>
      <table>
        <thead>
          <tr>
            <th>Pos</th>
            <th class='content-left'>Equipo</th>
            <th>Pts</th>
            <th>Pj</th>
            <th>Pg</th>
          </tr>
        </thead>
        <tbody>
          {
            teams.map(({ name, points, wins, plays }, index) => (
              <div>
                <tr>
                  <td class='font-bold'>{index + 1}</td>
                  <td class='content-left'>
                    <img
                      src=''
                      alt=''
                    />
                    <p>{name}</p>
                  </td>
                  <td class='font-bold'>{points}</td>
                  <td class='font-bold'>{wins}</td>
                  <td class='font-bold'>{plays}</td>
                </tr>
              </div>
            ))
          }
        </tbody>
      </table>
    </WidgetPanel>

		<div class="grid grid-cols-2 grid-rows-2 gap-4">
			<WidgetPanel title='Partidos' extraClass='flex flex-col justify-around h-[calc(100%-2rem)]'>
				<div class="grid grid-cols-3">
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/183436923.png" alt="">
						<p>Nombre Equipo</p>
					</div>
					<div class="flex flex-col items-center gap-2">
						<div class="flex justify-center items-center gap-2">
							<span class="font-semibold text-2xl">3</span>
							<span>-</span>
							<span class="font-semibold text-2xl">0</span>
						</div>
						<button class="text-xs bg-blue-700 font-semibold px-2 py-1 rounded-sm">
							Ver partido
						</button>
					</div>
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/726173891.png" alt="">
						<p>Nombre Equipo</p>
					</div>
				</div>
				<div class="grid grid-cols-3">
					<div class="flex flex-col items-center">
						<img class="w-12" src="/img/teams/183436923.png" alt="">
						<p>Nombre Equipo</p>
					</div>
					<div class="flex flex-col items-center gap-2">
						<div class="flex flex-col justify-center items-center">
							<span class="font-semibold">17:25:47</span>
							<span class="font-semibold">01/03/2024</span>
						</div>
					</div>
					<div class="flex flex-col items-center">
						<img class="w-12" src="/img/teams/726173891.png" alt="">
						<p>Nombre Equipo</p>
					</div>
				</div>
			</WidgetPanel>

			<WidgetPanel title='Economía' extraClass=''>

			</WidgetPanel>

			<WidgetPanel title='Correo' extraClass=''>

			</WidgetPanel>

			<WidgetPanel title='Temporada' extraClass=''>

			</WidgetPanel>
		</div>
  </main>
</Layout>

<style>
	main {
		display: grid;
		gap: 1rem;
		grid-template-columns: 30% 1fr;
	}

  table {
    @apply w-full text-center;
  }

	thead {
		@apply uppercase text-xs text-slate-300;
	}

  tbody tr:nth-child(odd) {
    @apply bg-slate-800/40;
  }

	tbody td {
    @apply py-2;
  }

  table .content-left {
    @apply flex justify-start gap-2;
  }
</style>
